1. 홈페이지 내 정보공개서 열람 검색조건을 등록번호로 변경한 뒤 엑셀 파일의 등록 번호로 검색

2. 해당 등록 번호로 나오는 상호의 링크를 클릭

3. 이하 내용 크롤링

사업자등록일의 연도만 - X
가맹점 및 직영점 현황의 2017-2019년도 전체 행의 전체, 가맹점 수, 직영점 수
가맹점 변동 현황의 2017 - 2019연도 신규개점, 계약종료, 계약해지, 명의변경

4. 크롤링한 데이터를 엑셀로 반환

업종별-프랜차이즈-리스트
https://franchise.ftc.go.kr/mnu/00013/program/userRqst/list.do

* 2021-03-12 17:11 변경사항

크롤링할 데이터 변동사항

사업자등록일 - 제외

가맹본부 재무상황 - 연도 별 매출액, 영업이익, 당기순이익
가맹사업 임직원수 - 임원수 및 직원수
가맹점 및 직영점 현황 - 서울 추가
가맹점사업자의 평균 매출액 및 면적당 매출액 - 2019년 '전체' 행
광고-판촉비 내역 - 광고비, 판촉비
가맹점사업자의 부담금 - 5항목 전부